<header>
  <%- include('./partials/encabezado.ejs') %>
</header>
<body>
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color: blue">Ingrese Producto</h1>
      <h7>*(En "Imagen", incluya la ruta completa del URL comenzando con http...etc.)</h7>
      <br/><br/><br/>

      <form onsubmit="return addProduct(this)">
        <div class="form-group">
          <label for="title"><b>Nombre</b></label>
          <input id="title" class="form-control" type="text" name="title" />
        </div>

        <div class="form-group">
          <label for="price"><b>Precio</b></label>
          <input id="price" class="form-control" type="number" name="price"  />
        </div>

        <div class="form-group">
          <label for="thumbnail"><b>URL de Imagen</b></label>
          <input id="thumbnail" class="form-control" type="text" name="thumbnail" />
        </div>

        <input type="submit" value="Ingresar" style="background-color: blue; color: white" />
      </form>
      </br></br>
      <h2 style="color: green">Lista de Productos Ingresados</h2>

      <%- include('./partials/tabla.ejs', productos) %>
    </div>    
  </div>
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color: blue">Centro de Mensajes</h1>
      </br>
      <div id="mensajes"></div>
      </br></br>

      <form onsubmit="return addMessage(this)">
        <div class="form-group">
          <input type="email" id="email" placeholder="Tu e-mail" required/>
        </div>
        <div class="form-group">
          <input type="text" id="texto" placeholder="Tu mensaje" required/>
        </div>
        <div class="form-group">
          <input type="submit" value="Enviar" style="background-color: blue; color: white"/>
        </div>
      
      </form>
    </div>
  </div>
  <h5 style=text-align:center> Emmanuel Perez --- Desafio 6 --- Websockets --- Marzo/2022 </h5>
</body>
<%- include('./partials/pie.ejs') %>